<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Wspomaganie organizacji konferencji i targów</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

<!-- Header -->
<header id="header">
    <h1><a th:href="@{/index}">Konferencje i targi<span>   Eventy i organizacja</span></a></h1>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a th:href="@{/index}">Strona główna</a></li>
        <li><a th:href="@{/list}">Najbliższe wydarzenia</a></li>
        <li><a th:href="@{/list}">Poprzednie wydarzenia</a></li>
        <li><a th:href="@{/showNewContactForm}">Pomoc</a></li>
        <li sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')"><a th:href="@{/advice}">Wskazówki przy organizacji</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/show_profile}">Twój profil</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
        <li sec:authorize="isAnonymous()"><a href="/" th:href="@{/registration}">Zarejestruj się</a></li>
    </ul>
</nav>

<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->
<div sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')">
<section id="banner" >
    <div class="inner">
        <header>
            <h1>Przy organizacji wydarzenia łatwo o czymś zapomnieć</h1>
            <p>Ponizej znajdziesz najważniejsze rady dotyczące organizacji wydarzeń
            </p>
        </header>
        <!-- <a href="#main" class="button big alt scrolly">Dignissim</a> -->
    </div>


</section>
<section id="FAQ">
    <div class="(small)">
        <h3>Zadbaj o promocję!</h3>
        <p>Chcesz by o Twoim wydarzeniu dowiedziało się jak najwięcej osób? Wypromuj je! Najskuteczniejszym i najszybszym sposobem
        jest umieszczenie eventu w mediach społecznościowych. Opatrzone zdjęciami, które jako pierwsze rzucają się w oczy ma większe
        szanse na zwrócenie uwagi użytkownika. Nie zapomnij o dokładnym opisie oraz harmonogramie.</p>
    </div>
    <div class="(small)">
        <h3>Nie zapominaj o pożywieniu!</h3>
        <p>Przez żołądek do serca ;) To powiedzenie sprawdzi się także w tym przypadku. Większe wrażenie zrobisz na gościu jeśli
        catering będzie odpowiednio dobrany. Jeśli wydarzenie przewidziane jest na większe grono osób zwykłe przekąski powinny wystarczyć.</p>
    </div>
    <div class="6(small)">
        <h3>Nadaj miejscu wydarzenia odpowiedni charakter.</h3>
        <p>Każda okoliczność wymaga spersonalizowania. Drobna dekoracja lub pojedyncze jej elementy pozwolą uczestnikom wpasować się
        w charakter eventu i szybciej odnaleźć w nim siebie. </p>
    </div>
    <div class="(small)">
        <h3>Zaproś gościa specjalnego.</h3>
        <p>Najlepszym magnesem dla każdej sytuacji jest odpowiednia osobistość. Zaproszenie gościa specjalnego przyciągnie
        to grono ludzi, dla których wydarzenie jest szczególnie adresowane.</p>
    </div>
    <div class="(small)">
        <h3>Organizujesz imprezę powyżej tysiąca osób? Złóż wniosek o zezwolenie na imprezę masową. </h3>
        <p> Każde wydarzenie powyżej tysiąca osób jest imprezą masową. Aby móc uniknąć kary i zorganizować je w świetle prawa
        musisz zatroszczyć się o stosowne pozwolenie. </p>
    </div>

</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex flex-3">
            <div class="col">
                <h3>Vestibullum</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Lobortis</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Accumsan</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
        </ul>
        &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
    </div>
</footer>
</div>


<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
