<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Wspomaganie organizacji konferencji i targów</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <h1><a th:href="@{/index}">Konferencje i targi<span>   Eventy i organizacja</span></a></h1>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a th:href="@{/index}">Strona główna</a></li>
        <li><a th:href="@{/listOfFutureEvents/1}">Najbliższe wydarzenia</a></li>
        <li><a th:href="@{/listOfPastEvents/1}">Poprzednie wydarzenia</a></li>
        <li><a th:href="@{/showNewContactForm}">Pomoc</a></li>
        <li sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')"><a th:href="@{/advice}">Wskazówki przy organizacji</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/show_profile}">Twój profil</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
        <li sec:authorize="isAnonymous()"><a href="/" th:href="@{/registration}">Zarejestruj się</a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">
    <section class="wrapper style1">
        <div class="inner">
            <div  class="6u$ 12u$(medium)">

                <div th:with="localId=${#authentication.getPrincipal().getId()}">
                    <div th:with="localNick=${#authentication.getPrincipal().getNick()}">
                        <div th:with="localName=${#authentication.getPrincipal().getName()}">
                            <div th:with="localEmail=${#authentication.getPrincipal().getEmail()}">

                                <form th:action="@{/savePassword}" th:object="${user}" method="post" >
                                    <h2 id="password change">Zmiana hasła</h2>
                                    <fieldset>
                                        <input type="hidden" id="id" th:field="*{id}"  th:value="${localId}" th:placeholder="${localId}"/>
                                        <input type="hidden" id="nick" th:field="*{nick}"  th:value="${getNick}" th:placeholder="${getNick}"/>
                                        <input type="hidden" id="name" th:field="*{name}"  th:value="${getName}" th:placeholder="${getName}"/>
                                        <input type="hidden" id="email" th:field="*{email}"  th:value="${getEmail}" th:placeholder="${getEmail}"/>

                                        <div th:if="${param.passwordNotEqual}">
                                            <div class="alert alert-danger">Aktualne hasło jest niepoprawne</div>
                                        </div>
                                        <div th:if="${param.newPassNotEqual}">
                                            <div class="alert alert-danger">Hasła nie są takie same</div>
                                        </div>

                                        <label for="Current_password">Podaj aktualne hasło:</label>
                                        <input type="password" id="Current_password" th:field="*{oldPassword}"/>
                                        <!--<div class="alert alert-danger">Niepoprawne aktualne hasło</div> -->
                                        <br>
                                        <br>
                                        <br>

                                        <label for="New_password">Podaj nowe hasło:</label>
                                        <input type="password" id="New_password" th:field="*{password}"/>

                                        <br>
                                        <label for="New_password2">Powtórz nowe hasło:</label>
                                        <input type="password" id="New_password2" th:field="*{passwordConfirmation}"/>
                                        <!--<div class="alert alert-danger">Hasła nie są tożsame</div> -->
                                        <br>

                                    </fieldset>
                                    <br>
                                    <button type="submit" class="registerButton">Zmień hasło</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>