<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Wspomaganie organizacji konferencji i targów</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" type="text/css"/>
</head>
<body>

<!-- Header -->
<header id="header">
    <h1><a th:href="@{/index}">Konferencje i targi<span>   Eventy i organizacja</span></a></h1>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a th:href="@{/index}">Strona główna</a></li>
        <li><a th:href="@{/list}">Najbliższe wydarzenia</a></li>
        <li><a th:href="@{/list}">Poprzednie wydarzenia</a></li>
        <li><a th:href="@{/todo}">Lista zadań do zrobienia</a></li>
        <li><a th:href="@{/showNewContactForm}">Pomoc</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/show_profile}">Twój profil</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
        <li sec:authorize="isAnonymous()"><a href="/" th:href="@{/registration}">Zarejestruj się</a></li>
    </ul>
</nav>

<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->
<section id="banner" >
    <div class="inner">

        <header>
            <h1> Opis</h1>

            <a th:text="${event.description}"></a>
            <br/>
            <br/>
            <img alt="" th:src="*{'data:image/jpeg;base64,'+{event.image}}" style="width: 100px;height: 100px;">

            <hr>

            <table>
                <thead>
                <tr>
                    <th>text</th>
                    <th>rating</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="comments : ${allComments}">
                    <td><span th:text="${comments.text}">text</span></td>
                    <td><span th:text="${comments.rating}">rating</span></td>
                    <td><span><a th:href="@{/deleteComment/{idC}/event/{id}(idC=${comments.id}, id=${event.id})}"  class="btn btn-danger">Delete</a></span></td>

                </tr>
                </tbody>
            </table>


            <hr>

            <form action="#" th:action="@{/saveComment/{id}(id=${event.id})}" th:object="${comment}" method="POST">
                <br/>
                <input type="text" th:field="*{text}" placeholder="Komentarz" class="form-control mb-4 col-4">
                <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
                <br/>
                <div class="rating">
                    <legend>Oceń:</legend>
                    <input type="radio" id="star5" name="rating" th:value="5" th:field="*{rating}" /><label for="star5" title="Wspaniale!">5 stars</label>
                    <input type="radio" id="star4" name="rating" th:value="4" th:field="*{rating}" /><label for="star4" title="Całkiem nieźle">4 stars</label>
                    <input type="radio" id="star3" name="rating" th:value="3" th:field="*{rating}" /><label for="star3" title="Przeciętnie">3 stars</label>
                    <input type="radio" id="star2" name="rating" th:value="2" th:field="*{rating}" /><label for="star2" title="Słabo">2 stars</label>
                    <input type="radio" id="star1" name="rating" th:value="1" th:field="*{rating}" /><label for="star1" title="Fatalnie">1 star</label>
                </div>
                <br/>
                <hr>

                <button type="submit" class="addCommentButton"> Dodaj komentarz</button>

            </form>

                <a th:href="@{/list}"> Powrót do wydarzeń</a>

            </form>
        </header>
        <!-- <a href="#main" class="button big alt scrolly">Dignissim</a> -->
    </div>

</section>


<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex flex-3">
            <div class="col">
                <h3>Vestibullum</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Lobortis</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Accumsan</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
        </ul>
        &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
    </div>
</footer>

<!-- Scripts -->
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>
