<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Wspomaganie organizacji konferencji i targów</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet"
			  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			  crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/main.css" />

	</head>
	<body>

		<!-- Header -->
		<header id="header">
			<h1><a th:href="@{/index}">Konferencje i targi<span>   Eventy i organizacja</span></a></h1>
			<a href="#menu">Menu</a>
		</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a th:href="@{/index}">Strona główna</a></li>
				<li><a th:href="@{/listOfFutureEvents/1}">Najbliższe wydarzenia</a></li>
				<li><a th:href="@{/listOfPastEvents/1}">Poprzednie wydarzenia</a></li>
				<li><a th:href="@{/showNewContactForm}">Pomoc</a></li>
				<li sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')"><a th:href="@{/advice}">Wskazówki przy organizacji</a></li>
				<li sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')"><a th:href="@{/todo}">Lista zadań do zrobienia</a></li>
				<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/show_profile}">Twój profil</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
				<li sec:authorize="isAnonymous()"><a href="/" th:href="@{/registration}">Zarejestruj się</a></li>
			</ul>
		</nav>

			<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->
				<section id="banner" >
					<div class="inner">
						<header>
							<h1>Zaloguj się</h1>
                                                    <form th:action="@{/login}" method="post">
														<!-- error message -->
														<div th:if="${param.error}">
															<div class="alert alert-danger">Niepoprawna nazwa lub hasło</div>
														</div>

														<!-- logout message -->
														<div th:if="${param.logout}">
															<div class="alert alert-info">Wylogowano pomyślnie</div>
														</div>

                                                    <fieldset>
                                                      <label for="username">Twój email</label>
                                                      <input type="text" id="username" placeholder="Wprowadź email" name="username" required>

                                                      <label for="password">Hasło</label>
                                                      <input type="password" id="password" placeholder="Wprowadź hasło" name="password" required>
                                                    </fieldset>
                                                    <br></br>
                                                    <button type="submit" class="loginButton">Zaloguj się</button>
                                                    <br></br>
                                                          <span class="psw"><a href="#">Zapomniałeś hasła?</a></span> <!--DO ZROBIENIA -->
                                                    
                                                  </form>

											<div class="form-group">
												<span>Nie masz konta? <a href="/" th:href="@{/registration}">Zarejestruj się!</a></span>
											</div>
                                                    
						</header>
						<!-- <a href="#main" class="button big alt scrolly">Dignissim</a> -->
					</div>

				</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex flex-3">
						<div class="col">
							<h3>Vestibullum</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Lobortis</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
						<div class="col">
							<h3>Accumsan</h3>
							<ul class="alt">
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
								<li><a href="#">Vis id faucibus montes tempor</a></li>
								<li><a href="#">Massa amet lobortis vel.</a></li>
								<li><a href="#">Nascetur nunc varius commodo.</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
