<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Wspomaganie organizacji konferencji i targów</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <h1><a th:href="@{/index}">Konferencje i targi<span>   Eventy i organizacja</span></a></h1>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a th:href="@{/index}">Strona główna</a></li>
        <li><a th:href="@{/listOfFutureEvents/1}">Najbliższe wydarzenia</a></li>
        <li><a th:href="@{/listOfPastEvents/1}">Poprzednie wydarzenia</a></li>
        <li><a th:href="@{/showNewContactForm}">Pomoc</a></li>
        <li sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')"><a th:href="@{/advice}">Wskazówki przy organizacji</a></li>
        <li sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')"><a th:href="@{/todo}">Lista zadań do zrobienia</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/show_profile}">Twój profil</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
        <li sec:authorize="isAnonymous()"><a href="/" th:href="@{/registration}">Zarejestruj się</a></li>
    </ul>
</nav>

<!-- Main -->
<div id="main">
    <section class="wrapper style1">
        <div class="inner">

            <!-- Elements -->
            <h2 id="elements">Opis problemu</h2>
            <h4>Rozwiązany: </h4>
            <div th:if="${problem.solved==false} ">
                Nie
            </div>
            <div th:if="${problem.solved==true} ">
                Tak
            </div>

            <br>
            <h3> Zgłoszone przez:</h3>
            <a th:text="${problem.name}"></a><br/>
            <a th:text="${problem.email}"></a><br/><br/>

            <h3>Kategoria: <span th:text="${problem.category}"></span></h3>
            <a th:text="${problem.note}"></a>
            <br>
            <br>
            <div th:if="${problem.solved==false} ">
                <form th:action="@{/solveProblem/{id}(id=${problem.id})}">
                    <button type="submit" class="loginButton"> Zgłoś jako rozwiązany</button>
                </form>
            </div>
            <br>
            <form th:action="@{/problemsList}">
                <button type="submit" class="loginButton"> Powrót do zgłoszonych problemów</button>
            </form>

        </div>
    </section>
</div>


<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.scrolly.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>