<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Wspomaganie organizacji konferencji i targów</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/jquery.datetimepicker.min.css"/>
    <link rel="stylesheet" href="../assets/css/main.css" type="text/css"/>
</head>
<body>

<!-- Header -->
<header id="header">
    <h1><a th:href="@{/index}">Konferencje i targi<span>   Eventy i organizacja</span></a></h1>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a th:href="@{/index}">Strona główna</a></li>
        <li><a th:href="@{/listOfFutureEvents}">Najbliższe wydarzenia</a></li>
        <li><a th:href="@{/listOfPastEvents}">Poprzednie wydarzenia</a></li>
        <li><a th:href="@{/showNewContactForm}">Pomoc</a></li>
        <li sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')"><a th:href="@{/advice}">Wskazówki przy organizacji</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/show_profile}">Twój profil</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
        <li sec:authorize="isAnonymous()"><a href="/" th:href="@{/registration}">Zarejestruj się</a></li>
    </ul>
</nav>

<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->
<section id="banner" >
    <div class="inner">

        <div class="card shadow mb-4">
            <h1><a th:text="${event.name}"></a></h1>
            <h3 class="m-0 font-weight-bold text-primary">Liczba kupionych biletów: <span th:text="${howManyTickets}"></span></h3>
            <div th:if="${howManyTickets}!=0 ">
                <h3 class="m-0 font-weight-bold text-primary">Na łączną kwotę: <span th:text="${sumOfTicketsValue}"></span>PLN</h3>
                <div class="card-header py-3">
                        <a th:href="@{/users/export/pdf/{id}(id=${event.id})}">Pobierz PDF</a>

                    <br>
                    <br>
                    <h3 class="m-0 font-weight-bold text-primary">Lista uczestników którzy kupili bilety:</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Id biletu</th>
                                <th>Imię i nazwisko</th>
                                <th>Cena biletu</th>
                                <th>Typ biletu</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ticket : ${listTickets}">
                                <td th:text="${ticket.id}"></td>
                                <td th:text="${ticket.user.getName()}"></td>
                                <td th:text="${ticket.ticketPrice+' PLN'}"></td>
                                <td th:text="${ticket.ticketName}"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.scrolly.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>