<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Wspomaganie organizacji konferencji i targów</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" type="text/css"/>
</head>
<body>

<!-- Header -->
<header id="header">
    <h1><a th:href="@{/index}">Konferencje i targi<span>   Eventy i organizacja</span></a></h1>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a th:href="@{/index}">Strona główna</a></li>
        <li><a th:href="@{/list}">Najbliższe wydarzenia</a></li>
        <li><a th:href="@{/list}">Poprzednie wydarzenia</a></li>
        <li><a th:href="@{/showNewContactForm}">Pomoc</a></li>
        <li sec:authorize="hasAuthority('ROLE_CREATOR') or hasAuthority('ROLE_ADMIN')"><a th:href="@{/advice}">Wskazówki przy organizacji</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/show_profile}">Twój profil</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
        <li sec:authorize="isAnonymous()"><a href="/" th:href="@{/registration}">Zarejestruj się</a></li>
    </ul>
</nav>

<section id="banner" >
    <div class="inner">

        <header>
            <div sec:authorize="isAuthenticated()">
                <div th:if="${event.user.getId()==activeUser.getId()} ">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                        <h4>Dodawanie Harmonogramu</h4>
                        <form action="#" th:action="@{/saveTimetable/{id}(id=${event.id})}" th:object="${timetable}" method="POST">
                            <br/>

                            <input type="text" th:field="*{stage}" placeholder="Sala" class="form-control mb-4 col-4">
                            <a th:if="${#fields.hasErrors('stage')}" th:errors="*{stage}"></a>
                            <br/>

                            <input type="text" th:field="*{exhibit}" placeholder="Nazwa" class="form-control mb-4 col-4">
                            <a th:if="${#fields.hasErrors('exhibit')}" th:errors="*{exhibit}"></a>
                            <br/>
                            Godzina rozpoczęcia:
                            <input id="datetime" type="time" th:field="*{begin}" placeholder="Godzina rozpoczęcia" class="form-control mb-4 col-4">
                            <a th:if="${#fields.hasErrors('begin')}" th:errors="*{begin}"></a>
                            <br/>
                            <br>
                            Godzina zakończenia:
                            <input id="datetime2" type="time" th:field="*{end}" placeholder="Godzina zakończenia" class="form-control mb-4 col-4">
                            <a th:if="${#fields.hasErrors('end')}" th:errors="*{end}"></a>
                            <br/>
                            <br>
                            <!--Opis:
                            <textarea th:field="*{description}" placeholder="Nie wymagany">

                            </textarea>
                            <br/>-->

                            <button type="submit" class="registerButton"> Dodaj Harmonogram</button>
                        </form>
                </div>
            </div>


            <h1>Harmonogram wydarzenia</h1>
            <table border="1" class = "table table-striped table-responsive-md">
                 <thead>
                 <tr>
                     <th>Miejsce</th>
                     <th>Nazwa</th>
                     <th>Godzina rozpoczęcia</th>
                     <th>Godzina zakończenia</th>
                     <th></th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each="timetable : ${listTimetables}">
                     <td th:text="${timetable.stage}"></td>
                     <td th:text="${timetable.exhibit}"></td>
                     <td th:text="${timetable.begin}"></td>
                     <td th:text="${timetable.end}"></td>
                     <td>
                         <div th:if="${event.user.getId()==activeUser.getId()} ">
                             <a th:href="@{/deleteTimeline/{id}/{id2}(id=${timetable.id},id2=${event.id})}" class="btn btn-danger">Usuń pozycje</a>
                         </div>
                     </td>
                 </tr>
                 </tr>
                 </tbody>
             </table>

        </header>
        <br/><br/>

        <link href="/assets/css/timetable.css" rel="stylesheet">
        <div class="timetable">

            <script src="/assets/js/timetable.js"></script>
            <p id="demo"></p>
        <script th:inline="javascript">
            //Ile Timelinów ma dany event - DZIAŁA


            //var listTimetables = [[${listTimetables}]];

            var firstTime="24:00";
            var lastTime="01:00";

            var k=0;

                var listTimetables = [[${listTimetables}]];
                for (k = 0; k < listTimetables.length; k++) {
                    if(listTimetables[k].begin < firstTime){
                     firstTime = listTimetables[k].begin;
                     }
                    if(listTimetables[k].end > firstTime){
                     lastTime = listTimetables[k].end;
                     }
                    if((firstTime == "24:00")&&( lastTime== "01:00")){
                    firstTime = "09:00"; lastTime= "16:00";
                    }

                }


            var firstTimeInt=parseInt(firstTime);
            var lastTimeInt=parseInt(lastTime);

            var timetable = new Timetable();
            //USTAWIANIE ZAKRESU GODZINOWEGO
            if(lastTimeInt-firstTimeInt < 8 ){
                timetable.setScope(firstTimeInt-2, firstTimeInt+6);
            }
            else{
                timetable.setScope(firstTimeInt, lastTimeInt);
            }


            var z=0;
            var zapisane =0;
            var stage = [];
            for (k = 0; k < listTimetables.length; k++) {
                zapisane=0;
                for(z = 0; z < listTimetables.length; z++){

                    if(stage[z] == listTimetables[k].stage){
                        zapisane=1;
                    }
                }
                if(zapisane!=1){
                   stage.push(listTimetables[k].stage);
                }
            }

            timetable.addLocations(stage);

            for (k = 0; k < listTimetables.length; k++) {
            var begin1 = parseInt(listTimetables[k].begin.slice(0,2));
            var begin2 = parseInt(listTimetables[k].begin.slice(3,5));
            var end1 = parseInt(listTimetables[k].end.slice(0,2));
            var end2 = parseInt(listTimetables[k].end.slice(3,5));
            timetable.addEvent(listTimetables[k].exhibit, listTimetables[k].stage, new Date(2015,7,17,begin1,begin2), new Date(2015,7,17,end1,end2));
            }

            var renderer = new Timetable.Renderer(timetable);
            renderer.draw('.timetable');

        </script>



        </div>
        <br>
        <br>
        <br>

    </div>
    </div>





</section>


                <!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>