<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Wspomaganie organizacji konferencji i targów</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />

</head>
<body>

<!-- Header -->
<header id="header">
    <h1><a th:href="@{/index}">Konferencje i targi<span>   Eventy i organizacja</span></a></h1>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a th:href="@{/index}">Strona główna</a></li>
        <li><a th:href="@{/list}">Najbliższe wydarzenia</a></li>
        <li><a th:href="@{/list}">Poprzednie wydarzenia</a></li>
        <li><a th:href="@{/todo}">Lista zadań do zrobienia</a></li>
        <li><a th:href="@{/showNewContactForm}">Pomoc</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Zaloguj się</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/show_profile}">Twój profil</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj się</a></li>
        <li sec:authorize="isAnonymous()"><a href="/" th:href="@{/registration}">Zarejestruj się</a></li>
    </ul>
</nav>

<!-- Banner -->
<!--
    To use a video as your background, set data-video to the name of your video without
    its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
    formats to work correctly.
-->
<section id="banner" >
    <div class="inner">
        <section id="lista" >
            <h2 style="margin:5px">Lista zadań do zrobienia</h2>
            <input type="text" id="myInput"  placeholder="Zadanie...">
            <span onclick="newElement()" class="addCommentButton">Dodaj</span>
            <br/>
            <br/>
            <br/>
            <br/>
            <ul id="myUL" >
                <li>Rezerwacja miejsca</li>
                <li>Zaproszenie gości</li>
                <li>Promocja wydarzenia (media społecznościowe, plakaty)</li>
                <li>Reorganizacja i dekoracja przestrzeni wydarzenia</li>
                <li>Zadbanie o gastronomię/catering</li>
                <li>Zapewnienie bezpieczeństwa imprezie</li>
            </ul>
    </div>
    </div>

    <script>
        // Create a "close" button and append it to each list item
        var myNodelist = document.getElementsByTagName("LI");
        var i;
        for (i = 0; i < myNodelist.length; i++) {
            var span = document.createElement("SPAN");
            var txt = document.createTextNode("\u00D7");
            span.className = "close";
            span.appendChild(txt);
            myNodelist[i].appendChild(span);
        }

        // Click on a close button to hide the current list item
        var close = document.getElementsByClassName("close");
        var i;
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function() {
                var div = this.parentElement;
                div.style.display = "none";
            }
        }

        // Add a "checked" symbol when clicking on a list item
        var list = document.querySelector('ul');
        list.addEventListener('click', function(ev) {
            if (ev.target.tagName === 'LI') {
                ev.target.classList.toggle('checked');
            }
        }, false);

        // Create a new list item when clicking on the "Add" button
        function newElement() {
            var li = document.createElement("li");
            var inputValue = document.getElementById("myInput").value;
            var t = document.createTextNode(inputValue);
            li.appendChild(t);
            if (inputValue === '') {
                alert("Musisz uzupełnić pole");
            } else {
                document.getElementById("myUL").appendChild(li);
            }
            document.getElementById("myInput").value = "";

            var span = document.createElement("SPAN");
            var txt = document.createTextNode("\u00D7");
            span.className = "close";
            span.appendChild(txt);
            li.appendChild(span);

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function() {
                    var div = this.parentElement;
                    div.style.display = "none";
                }
            }
        }
    </script>
</section>
</div>

</section>

<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="flex flex-3">
            <div class="col">
                <h3>Vestibullum</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Lobortis</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Accumsan</h3>
                <ul class="alt">
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                    <li><a href="#">Vis id faucibus montes tempor</a></li>
                    <li><a href="#">Massa amet lobortis vel.</a></li>
                    <li><a href="#">Nascetur nunc varius commodo.</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
        </ul>
        &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Coverr</a>. Video: <a href="https://coverr.co">Coverr</a>.
    </div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>